# Node
node_modules/

backend/utils/__pycache__/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
venv/
.env/
*.env

# Backend uploads
backend/uploads/

# OS
.DS_Store
Thumbs.db

# Logs
*.log